<app-nav></app-nav>
  <mat-card>
  <div class="usuario">
    <h1>Hola{{usuarioMostrar}}</h1>
    <button type="submit"routerLink="/logout" mat-icon-button class="btn"
    mat-raised-button #tooltip="matTooltip"
    matTooltip="Log Out"
    matTooltipPosition="right"
    aria-tooltip="Button that displays and hides a tooltip triggered by other">
      <mat-icon>logout</mat-icon>
    </button >
  </div>
    <mat-tab-group [color]="'Black'" [backgroundColor]="'primary'" animationDuration="0ms">
      <mat-tab label="Recibidos" ><app-recibidos></app-recibidos></mat-tab>
      <mat-tab label="Enviados" ><app-enviados></app-enviados></mat-tab>
      <mat-tab label="Nuevo Mensaje"><app-nuevo></app-nuevo></mat-tab>
    </mat-tab-group>
  </mat-card>
